@font-face {
  font-family: 'Iosevka';
  src: url('./Iosevka.woff') format('woff'),
       url('./Iosevka.ttf') format('truetype'),
       url('./Iosevka.svg#Iosevka') format('svg');
  font-weight: normal;
  font-style: normal;
}