// $c1: hsl(202, 93%, 53%);
$c1: #038af4;
$c2: #fe6808;
$c3: #f9c110;
$c4: #9dd9fb;

.RunInfo {
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-gap: 1rem;

  width: 32rem;
  height: 24rem;
  margin-bottom: 1rem;

  .cover {
    position: relative;
    // border: solid 3px #abdefc;
    // box-shadow: 0 0 3px $c3;
    // background-color: rgba(#18a5f7, 0.3);
    .img {
      position: absolute;
      // top: 4px; left: 4px; right: 4px; bottom: 4px;
      top: 0px; left: 0px; right: 0px; bottom: 0px;
      background-size: cover;
      background-position: center;
    }
  }

  .detail {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: .5rem;

    .base {
      display: grid;
      grid-template-rows: 3fr 1fr 1fr;
      grid-gap: .5rem;
    }

    .board {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: .5rem;
    }
  }
}

.Names {
  transform: skewX(-10deg);
  background: linear-gradient(90deg, rgba($c2, 0.3), rgba($c2, 0));
  border-left: solid 4px $c2;

  .cnName {
    font-size: 1.5rem;
    font-weight: bold;
    padding: .3rem 1rem;
    color: lighten(#fe6808, 40%);
  }
  .enName {
    padding: .3rem 1rem;
    color: lighten(#fe6808, 30%);
    font-family: DIN-Black;
  }
}

.Category {
  transform: skewX(-10deg);
  background: linear-gradient(90deg, rgba($c1, 0.3), rgba($c1, 0));

  color: $c4;
  text-shadow: 0 0 .1rem black, .3rem .3rem 1rem $c1;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-family: DIN-Black;
  padding-left: 1rem;
  border-left: solid 4px $c4;
}

.Total {
  transform: skewX(-10deg);

  color: $c4;
  background: linear-gradient(90deg, rgba($c4, 0.3), rgba($c4, 0));
  display: flex;

  label {
    background-color: $c4;
    color: black;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    // font-size: 1.2rem;
  }
  span {
    background-color: rgba($c4, 0.382);
    // color: white;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-family: DIN-Black;
  }
}

.MingCi {
  // color: hsla(202, 93%, 80%, 1);
  // text-shadow: 0 0 .1rem black, .3rem .3rem 1rem hsl(202, 93%, 53%);

  display: grid;
  grid-template-columns: 1fr 4.5fr;
  transform: skewX(-10deg);

  label {
    background-color: $c1;
    color: white;
    text-shadow: none;
    font-family: DIN-Black;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:first-child {
    background: linear-gradient(90deg, rgba($c2, 0.3), rgba($c2, 0));
  }
  &:not(:first-child) {
    background: linear-gradient(90deg, rgba($c1, 0.3), rgba($c1, 0));
  }
  &:first-child label {
    background-color: $c2;
  }

  .data {
    display: grid;
    grid-template-rows: 1fr 1fr;
    .time {
      font-size: 1.2rem;
      padding-left: 1rem;
      color: $c3;
      font-family: DIN-Black;
      display: flex;
      align-items: center;
    }
    .runner {
      padding-left: 1rem;
      font-family: DIN-Black;
      display: flex;
      align-items: center;
    }
    .date {
      position: absolute;
      right: .5rem; bottom: 0; height: 50%;
      font-family: DIN-Black;
      display: flex;
      align-items: center;
      color: rgba(lighten($c1, 10%), 0.8);
      font-size: .8rem;
      text-align: right;
    }
  }

  &:first-child .data .date {
    color: rgba(lighten($c2, 10%), 0.8);
  }
}