@import "../mixins";

$runnerColor: lighten(cyan, 30%);
$timeColor: lighten(gold, 10%);
$dateColor: lighten(coral, 10%);

.run {
  min-height: 100%;
  background-color: black;

  .main {
    width: 750px;
    padding: 1rem;
    // background-color: hsla(202, 93%, 53%, 0.1);
    background: linear-gradient(
      -30deg, 
      hsla(202, 93%, 53%, 0.2) 0%,
      hsla(202, 93%, 53%, 0.0)
    );
    min-height: 10rem;
    margin-bottom: 2rem;
  }

  .main1 {
    @extend .main;
    background: transparent;
  }

  font-family: 'DIN-Medium';
  color: white;
}

.BiliDesc {
  pre {
    font-family: 'DIN-Medium';
    margin-bottom: 1rem;
  }
}

.SimpleHistory {
  width: 600px;
  padding: .5rem;
  .head, .line {
    display: grid;
    grid-gap: .3rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: .3rem;
    span {
      border: solid 1px rgba(white, 0.2);
      padding: .3rem .5rem;
      &.runner { color: $runnerColor; background-color: rgba($runnerColor, 0.1); }
      &.time { color: $timeColor; background-color: rgba($timeColor, 0.1); }
      &.date { color: $dateColor; background-color: rgba($dateColor, 0.1); }
    }
  }
}

.PPTStr {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #999;
  .c { 
    color: greenyellow; 
    .subC {
      color: #6ca323;
    }
  }
  .runner { color: $runnerColor;  }
  .time { color: $timeColor;  }
  .date { color: $dateColor;  }
}