.leaderboard {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: hsl(120, 90%, 90%);
  overflow-y: auto;

  .main {
    max-width: 66.9rem;
    padding: 1rem;
    margin: 0 auto;
    background-color: rgba(white, 0.618);
    min-height: 10rem;
  }
}

@mixin listRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .3rem;
  margin-bottom: .3rem;
  > span {
    border: solid 1px rgba(black, 0.1);
    padding: .3rem .6rem;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.Game, .Category, .Runs {
  margin-bottom: 1rem;
  .header {
    @include listRow;
    span {
      background-color: rgba(black, 0.05);
    }
  }
  .list .item {
    @include listRow;
    pre.text {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
}

.Runs {
  .header {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .list .item {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .guest {
      color: red;
    }
  }
}